.list-layout-wrap {
	// list-layout-wrap
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 0 15px;
	padding: 10px 15px;
	box-sizing: border-box;
	.left {
		margin-bottom: 15px;
		order: 2;
		flex: 1 1 270px;
	}
	.right {
		flex: 39;
		margin-bottom: 15px;
	}
}
