.layout-wrap {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	.layout-content {
		background-color: transparent;
	}
}
.go-top {
	transform: scale(0);
	transition: all 0.3s;
}
.show-icon {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 60px;
	right: 70px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	transform: scale(1);
	color: #428bca;
	&:hover {
		animation: play 0.5s ease-in forwards;
	}
	.go-top-icon {
		font-size: 35px;
	}
}

@keyframes play {
	0% {
		color: #ff6700;
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
		box-shadow: 0 0 20px #ff6700;
	}
	75% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
		color: red;
		box-shadow: 0 0 20px #ff6700;
	}
}
