.nav-wrap {
	width: 100%;
	height: 50px;
	display: grid;
	border-bottom: 1px solid #e7e7e7;
	background: transparent;
	padding: 0 30px;
	box-sizing: border-box;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 20px #fff;
	.left-grid {
		display: grid;
		gap: 0 20px;
		align-items: center;
		.btn {
			padding: 10px;
			text-decoration: none;
			color: #428bca;
			&:hover {
				color: #60acee !important;
			}
		}
		:global(.active) {
			color: #428bca;
			box-shadow: none;
			text-decoration: underline;
		}
	}
	&.shadow {
		box-shadow: 0 0 20px #e0e0e0;
	}
	.logo {
		width: 50px;
	}
}
