.item-wrap {
    // item-wrap
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;

    .title {
        color: #428bca;
        font-size: 22px;
        padding-bottom: 7px;
        cursor: pointer;
        line-height: 38px;

        &:hover,
        &:active {
            text-decoration: none;
            background: radial-gradient(circle at 10px -8px,
                    transparent 8px,
                    currentColor 8px,
                    currentColor 10px,
                    transparent 9px) repeat-x,
                radial-gradient(circle at 10px 27px,
                    transparent 8px,
                    currentColor 8px,
                    currentColor 10px,
                    transparent 9px) repeat-x;
            background-size: 20px 20px;
            background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
            animation: waveFlow 1s infinite linear;
        }
    }

    .synopsis {
        color: #999;
        line-height: 30px;
    }

    .more {
        color: #428bca;
        cursor: pointer;
    }
}

@keyframes waveFlow {
    from {
        background-position-x: -10px, 0;
    }

    to {
        background-position-x: -30px, -20px;
    }
}