.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
}
.footer-content{
    display: flex;
    align-items: center;
}
.footer-button{
    padding: 5px 20px;
    background-color: rgba(228, 37, 12, 1);
    border-radius: 3px;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
}