import css from './index.module.scss'

import React,{ Component } from 'react'

export default class {{ properCase name }} extends Component {
    render() {
        return <div className={ css["{{dashCase name}}"] }>{{ properCase name }}组件</div>
    }
}