.study-wrap {
	// study-wrap
	padding: 20px 30px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	.title {
		color: #428bca;
		font-size: 22px;
		font-weight: 500;
	}
}
