.wrap {
	padding: 20px 30px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 0 50px;
	.list-wrap {
		flex: 39;
		box-sizing: border-box;
	}
	.card-wrap {
		margin-bottom: 15px;
		order: 2;
		flex: 1 1 500px;
		.item {
			margin-bottom: 20px;
		}
	}
}
