.book-item {
	// book-item
	border: 1px solid #d0d4d8;
	border-radius: 4px;
	padding: 10px 15px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 40px;
	transition: all 0.3s;
	.book-cover {
		width: 105px;
		height: 146px;
		padding: 4px;
		border: 1px solid #dddddd;
		border-radius: 4px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.book-detail {
		.book-info,
		.book-intro {
			padding: 5px 10px;
		}
		.book-info {
			border-bottom: 1px solid #e5e5e5;
			display: grid;
			grid-template-columns: repeat(2, auto);
			justify-content: space-between;
			.title {
				font-size: 20px;
			}
		}
	}
}
.book-item:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
