.item{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    transition: all 0.3s;
}
.item:hover{
    background-color: rgb(224, 224, 224);
    color: #fff;
}
.item:hover .button{
   opacity: 1;
}
.item-content{
    display: flex;
    align-items: center;
}
.content{
    padding: 0 10px;
}
.button{
    opacity: 0;
    padding: 5px 20px;
    background-color: rgba(228, 37, 12, 0.6);
    color: #fff;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.button:hover{
    cursor: pointer;
    background-color: rgba(224, 40, 15, 0.9);
}