.list-layout-wrap {
	// list-layout-wrap
	display: grid;
	grid-template-columns: 270px 1fr;
	gap: 0 30px;
	padding: 10px 15px;
	.left {
		display: grid;
		gap: 10px 0;
		.item {
			border: 1px solid #e3e3e3;
			border-radius: 4px;
			padding: 19px;
			.title {
				color: #ee4444;
				font-size: 22px;
			}
			ul {
				margin-top: 10px;
				li {
					margin-left: 20px;
					line-height: 25px;
					position: relative;
					&::before {
						content: "";
						width: 5px;
						height: 5px;
						border-radius: 50%;
						overflow: hidden;
						background-color: #333;
						position: absolute;
						left: -10px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}
